//----- Mixins -----
.disable-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.force-hardware-acceleration {
  -webkit-transform: translate3d(0px,0px,0px);
  -moz-transform: translate3d(0px,0px,0px);
  -ms-transform: translate3d(0px,0px,0px);
  -o-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);
}

//----- Page Style ------
@PAGE_BGCOLOR: #232323;
@RIGHT_PANE_WIDTH: 170px;

html, body {
  .disable-user-select;
  background: @PAGE_BGCOLOR;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
  color: #fefefe;
  overflow-x: hidden;
}

//------ main-pane -------
#main-pane {
  position: absolute;
  top: 0;
  left: 0; right: 0;
  z-index: 2;
  bottom: 0;
  box-shadow: 0px 3px 5px #232323;

  @TRANSITION_DURATION: 0.25s;
  .force-hardware-acceleration;
  -webkit-transform: translate3d(0px,0px,0px);
  -webkit-transition-property: transform;
  -webkit-transition-duration: @TRANSITION_DURATION;
  -moz-transition-property: transform;
  -moz-transition-duration: @TRANSITION_DURATION;
  -ms-transition-property: transform;
  -ms-transition-duration: @TRANSITION_DURATION;
  -o-transition-property: transform;
  -o-transition-duration: @TRANSITION_DURATION;
  transform: translate3d(0px,0px,0px);
  transition-property: transform;
  transition-duration: @TRANSITION_DURATION;

  &.tucked {
    -webkit-transform: translate3d(-1 * @RIGHT_PANE_WIDTH, 0px, 0px);
    transform: translate3d(-1 * @RIGHT_PANE_WIDTH, 0px, 0px);
  }
}

//------- Background Image --------
#bg-image-container {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  background-size: cover;
  background-position: top center;
}

#bg-gradient {
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;

  // Gradient
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(25%,rgba(0,0,0,0)), color-stop(75%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

//-------- Logo ---------
#logo {
  position: absolute;
  top: 20px + 15px;  // Status bar + Offset
  left: 15px;

  h3 {
    font-size: 0.85em;
    line-height: 1.05em;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;

    span.deg,
    &::first-letter {
      font-size: 1.75em;
    }

    text-shadow: 0px 0px 15px #232323;
  }
}

//------ Unit Toggler -----------
#unit-toggler {
  position: absolute;
  display: inline-block;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 5px;
  cursor: default;

  span {
    opacity: 0.5;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 0px 0px 15px #777777;
  }

  span.active {
    font-weight: bold;
    opacity: 1.0;
  }
}

//------ Feels like label --------
#feels-like-label {
  position: absolute;
  left: 10px;
  bottom: 25px;

  h3 {
    margin: 0;
    padding: 0;
    font-weight: 200;
  }

  h3.temp {
    font-size: 1.5em;
  }

  h3.weather {
    font-size: 1.75em;
  }

  img {
    vertical-align: middle;
  }

  span.clouds,
  span.humidity {
    font-size: 0.85em;
  }
}

//-------- Temperature Label --------
#temp-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  text-shadow: 0px 0px 15px #232323;
  cursor: default;

  div.label {
    font-size: 0.95em;
  }

  div.temp {
    font-weight: 100;

    span.value {
      font-size: 5.25em;
      font-weight: 200;
    }

    span.deg {
      font-size: 2.5em;
      vertical-align: top;
    }
  }

  div.description {
    font-size: 1.1em;
    font-weight: 300;
  }
}

//-------- Right Pane -----------
#right-pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: @RIGHT_PANE_WIDTH;
  background: #f9f9f9;
  -webkit-overflow-scrolling: touch;
  opacity: 1;

  overflow-x: hidden;
  overflow-y: scroll;

  .forecast-container {

    .tempbox {
      .border-box;
      width: @RIGHT_PANE_WIDTH;
      text-align: center;
      color: #232323;
      border-bottom: 1px solid darken(#f9f9f9, 5%);
      border-top: 1px solid darken(#f9f9f9, 15%);

      overflow: auto;

      &.divider {
        background: darken(#f9f9f9, 5%);
      }

      h2, h3, h4 {
        margin: 0;
        padding: 0;
        font-weight: 300;
      }

      h4.time {
        margin-top: 15px;
        margin-bottom: 5px;
        font-weight: 600;
      }

      h2.temp {
        margin-bottom: 5px;
        font-size: 1.75em;

        span.unit {
          font-size: 0.65em;
          font-weight: 400;
          vertical-align: top;
        }
      }

      h3.description {
        margin-bottom: 12px;
      }
    }
  }
}

// Right Pane ngShow animation
#right-pane {
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 250ms;
  transition-property: opacity, transform;
  ransition-duration: 250ms;

  .force-hardware-acceleration;
  -webkit-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);
}

#right-pane.ng-hide {
  opacity: 0;
  right: 0;
  -webkit-transform: translate3d(20px,0px,0px);
  transform: translate3d(20px,0px,0px);
}

#right-pane-closer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  right: @RIGHT_PANE_WIDTH;
}