<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Delhi Degree</title>

    <!-- build:css css/main.min.css -->
    <link href="bower_components/normalize.css/normalize.css" rel="stylesheet">
    <link href="less/main.less" rel="stylesheet/less">
    <!-- /build -->

    <!-- build:js js/app.min.js -->
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angularjs/angular.js"></script>

    <script src="components/openweathermap/module.js"></script>
    <script src="components/openweathermap/ForecastService.js"></script>

    <script src="components/hammer/module.js"></script>
    <script src="components/hammer/touchEvents.js"></script>

    <script src="components/common/app.js"></script>

    <script src="components/common/RootController.js"></script>
    <script src="components/common/TemperatureDisplayController.js"></script>
    <script src="components/common/TemperatureUnitFilter.js"></script>
    <script src="components/common/RightPaneController.js"></script>
    <script src="components/common/DatePrinterFilter.js"></script>
    <!-- /build -->

    <!-- build:remove -->
    <script>
        less = {logLevel: 0}
    </script>
    <script src="bower_components/less/dist/less-1.7.3.js"></script>
    <!-- /build -->
</head>
<body>
    <div id="app-wrapper" ng-app="dd" ng-controller="RootController">
        <div id="main-pane" ng-class="{'tucked': rightPaneVisible}" hm-swipe-left="showRightPane()">
            <div id="bg-image-container" style="background-image: url('./img/Delhi_India_Gate.jpg')"></div>
            <div id="bg-gradient"></div>

            <div id="logo">
                <h3>Delhi<span class="deg">&deg;</span></h3>
            </div>

            <div id="unit-toggler" hm-tap="toggleUnit()">
                <span ng-class="{'active': (unit == 'C')}">&deg;C</span>/<span ng-class="{'active': (unit == 'F')}">&deg;F</span>
            </div>

            <div ng-controller="TemperatureDisplayController">
                <div id="feels-like-label" ng-if="nextDayForecast">
                    <h3 class="temp">Like {{nextDayForecast.feelsLike | tempunit:unit}}<span class="deg">&deg;{{unit}}</span></h3>
                    <h3 class="weather">{{nextDayForecast.weather[0].main}}</h3>

                    <img src="./img/clouds.png" width="25" />&nbsp;<span class="clouds">{{nextDayForecast.clouds.all}}%</span>
                    <img src="./img/humidity.png" width="25" />&nbsp;<span class="humidity">{{nextDayForecast.main.humidity}}%</span>
                </div>

                <div id="temp-label" hm-tap="toggleRightPane()">
                    <div class="label">Tomorrow 12:00 PM</div>
                    <div class="temp">
                        <span class="value" ng-if="nextDayForecast">{{nextDayForecast.main.temp | tempunit:unit}}</span><span class="value" ng-if="!nextDayForecast">-</span><span class="deg">&deg;{{unit}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-pane" ng-controller="RightPaneController" ng-show="rightPaneVisible">
            <div class="forecast-container" style="height: {{(storage.threeHoursForecast.list.length * 150) + 'px'}}">
                <div class="tempbox" ng-class="{'divider': (isDivider(forecast.dt_txt) || $first)}" ng-repeat="forecast in storage.threeHoursForecast.list">
                    <h4 class="time">{{forecast.dt_txt | dateprinter:$index}}</h4>
                    <img ng-src="./img/wicons/{{forecast.weather[0].icon}}.png" />
                    <h2 class="temp">{{forecast.main.temp | tempunit:unit}}<span class="unit">&deg;{{unit}}</span></h2>
                    <h3 class="description">{{forecast.weather[0].main}}</h3>
                </div>
            </div>
        </div>
        <!-- Layer which handles the tap event on main pane when right pane is visible -->
        <div id="right-pane-closer" ng-show="rightPaneVisible" hm-tap="hideRightPane()" hm-swipe-right="hideRightPane()"></div>
    </div>
</body>
</html>