<!DOCTYPE html>
<html>
<head>
    <title>Delhi Degree</title>

    <!-- build:css css/main.min.css -->
    <link href="bower_components/normalize.css/normalize.css" rel="stylesheet">
    <link href="less/main.less" rel="stylesheet/less">
    <!-- /build -->

    <!-- build:js js/app.min.js -->
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angularjs/angular.js"></script>

    <script src="components/openweathermap/module.js"></script>
    <script src="components/openweathermap/ForecastService.js"></script>

    <script src="components/common/app.js"></script>

    <script src="components/common/TemperatureDisplayController.js"></script>
    <script src="components/common/TemperatureUnitFilter.js"></script>
    <script src="components/common/BottomPaneController.js"></script>
    <!-- /build -->

    <!-- build:remove -->
    <script>
        less = {logLevel: 0}
    </script>
    <script src="bower_components/less/dist/less-1.7.3.js"></script>
    <!-- /build -->
</head>
<body>
    <div id="app-wrapper" ng-app="dd">
        <div id="main-pane">
            <div id="bg-image-container" style="background-image: url('./img/Delhi_India_Gate.jpg')"></div>
            <div id="bg-gradient"></div>

            <div id="logo">
                <h3>Delhi<span class="deg">&deg;</span></h3>
            </div>

            <div ng-controller="TemperatureDisplayController">
                <div id="feels-like-label" ng-if="nextDayForecast">
                    <h3 class="temp">Like {{nextDayForecast.feelsLike | tempunit:unit}}<span class="deg">&deg;{{unit}}</span></h3>
                    <h3 class="weather">{{nextDayForecast.weather[0].main}}</h3>
                </div>

                <div id="temp-label">
                    <div class="label">Tomorrow 12:00 PM</div>
                    <div class="temp">
                        <span class="value" ng-if="nextDayForecast">{{nextDayForecast.main.temp | tempunit:unit}}</span><span class="value" ng-if="!nextDayForecast">-</span><span class="deg" ng-click="toggleUnit()">&deg;{{unit}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-pane" ng-controller="BottomPaneController">
            <div class="forecast-container" style="width: {{(storage.threeHoursForecast.list.length * 150) + 'px'}}">
                <div class="tempbox" ng-repeat="forecast in storage.threeHoursForecast.list" style="left: {{($index * 150) + 'px'}}">
                    <h4 class="time">{{forecast.dt | date:'dd'}}</h4>
                    <img ng-src="./img/wicons/{{forecast.weather[0].icon}}.png"></img>
                    <h2 class="temp">{{forecast.main.temp | tempunit:unit}}<span class="unit">&deg;{{unit}}</span></h2>
                    <h3>{{forecast.weather[0].main}}</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>